$gray: #f4f3f4;
$blue: #2F4773;
$light-blue: #ADD8E6;
$color-bg-cover: rgba(0, 0, 0, 0.38);

$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$tv-width: 1200px;


$font-stack:   'Roboto', sans-serif;
$primary-color: #2f456b;
$primary-color2: #6B788F;
$secondary-color : #37517e;
$light-blue: #0cbbfe;
